<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <div id="contact-info2" class="contact-info">
          <h3>Επικοινωνία</h3>
          <h4>Είμαστε στη διάθεσή σας για να σας εξυπηρετήσουμε</h4>
          <p class="lettercolor h6">Νίκης 2, Παραλία Κατερίνης</p>
          <p class="lettercolor h6">Τηλέφωνο: 23510-61095</p>
          <p class="text-black-50">
            Για περισσότερες πληροφορίες πατήστε
            <a
              href="https://www.vrisko.gr/details/2gca34711a67aa211j51cb_24_762k3e"
            >
              εδώ
            </a>
          </p>
        </div>
      </div>
      <div class="col">
        <img
          src="https://img.freepik.com/free-vector/vintage-red-telephone-hand-drawn-illustration-sketch-style_59869-32.jpg?size=338&ext=jpg"
          alt="telephone-photo"
          width="150"
          height="150"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style scoped></style>
