<template>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Αποδοχής cookies</strong>
    <p>
      Σας ενημερώνουμε ότι το site fast-food Popay.gr χρησιμοποιεί cookies.
      Χρησιμοποιώντας αυτόν τον ιστότοπο, συμφωνείτε με τη χρήση των cookies,
      σύμφωνα με τις οδηγίες μας.
    </p>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
</template>

<script>
export default {}
</script>

<style scoped></style>
