<template>
  <v-row>
    <v-col>
      <v-row>
        <v-col cols="4">
          <v-select label="Menu" :items="items" />
        </v-col>
      </v-row>
      <h3 class="mt-4 mb-4 text-center success--text">ΜΕΝΟΥ</h3>
      <v-row>
        <v-col>
          <h4 class="primary--text">ΜΕΡΙΔΕΣ & ΤΕΜΑΧΙΑ</h4>
          <p>Νωπά ελληνικά κρέατα, όλα χειροποίητα με μυστικά 30 ετών.</p>
        </v-col>
        <v-col>
          <h4 class="primary--text">ΣΑΝΤΟΥΙΤΣ</h4>
          <p>
            Επιλογές από μοναδικές και πρωτότυπες συνταγές σε πίτα ή ψωμάκι.
          </p>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <h4 class="primary--text">BURGERS</h4>
          <p>Κλασσικές και επιτυχημένες συνταγές ετών.</p>
        </v-col>
        <v-col>
          <h4 class="primary--text">ΣΑΛΑΤΕΣ</h4>
          <p>
            Παρασκευάζονται τη στιγμή της παραγγελίας με ολόφρεσκες πρώτες ύλες
            από την ελληνική γη.
          </p>
        </v-col>
      </v-row>

      <div>
        <h4 class="primary--text">SIDES & EXTRAS</h4>
        <p>Επιπλέον νοστιμιές όπως σως, πατάτες και άλλα συνοδευτικά.</p>
      </div>
    </v-col>
    <v-col>
      <v-alert type="info" border="top" colored-border elevation="1">
        Ο φίλος στην ανάγκη φαίνεται...<span style="color: darkblue">
          Το μόνο γυράδικο 24/7!!!
        </span>
      </v-alert>
      <v-row class="mt-4">
        <v-col>
          <v-img
            src="https://icon2.cleanpng.com/20180920/fxx/kisspng-pizza-delivery-vector-graphics-take-out-royalty-fr-5ba33e2bb3dea3.5665901615374249397368.jpg"
            class="image-delivery"
            alt="delivery photo"
            height="200"
            width="300"
          />
        </v-col>
        <v-col>
          <h2 class="error--text">Ταχύτατο delivery!!!</h2>
          <p class="call-delivery">
            Κάνε την παραγγελία σου τηλεφωνικώς και η όμαδα του ΠΟΠΑΥ θα
            φροντίσει να φτάσει στο χώρο σου σε λίγα λεπτά!!
          </p>
          <v-btn color="primary">Παραγγειλε τωρα!</v-btn>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
const options = [
  { value: 1, text: 'Μερίδες και τεμάχια' },
  { value: 2, text: 'Σάντουιτς' },
  { value: 3, text: 'Burgers' },
  { value: 4, text: 'Σαλάτες' },
  { value: 5, text: 'Sides & extras' },
]
export default {
  data: () => ({
    items: options,
  }),
}
</script>

<style scoped></style>
