<template>
  <v-app-bar app>
    <img
      src="https://toppng.com/uploads/preview/popeye-vector-download-free-11574061009ate1kppkgu.png"
      alt="photo"
      width="50"
      height="45"
      class="mr-4"
    />
    <v-toolbar-title class="red--text text--darken-3"
      >fast-food ΠΟΠΑΥ</v-toolbar-title
    >
    <span class="ml-4 blue--text text--darken-4">
      Ο καλύτερος γύρος στην πόλη!
    </span>
    <v-spacer />
    <v-app-bar-nav-icon></v-app-bar-nav-icon>
  </v-app-bar>
</template>

<script>
export default {}
</script>

<style scoped></style>
