<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm d-flex justify-content-center">
        <img
          src="https://i.graphicmama.com/uploads/2019/3/5c925eb2e9033-Euro%20Sign%20Cartoon%20Vector%20Character.png"
          alt="price-photo"
          style="width: 18rem; height: 14rem"
        />
      </div>
      <div class="col-sm">
        <div class="pricetable">
          <table class="table table-primary table-striped">
            <thead>
              <tr>
                <th scope="col">Είδος</th>
                <th scope="col">Σάντουιτς</th>
                <th scope="col">Μερίδα</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Γύρος χοιρινός</th>
                <td>2,40€</td>
                <td>7,00€</td>
              </tr>
              <tr>
                <th scope="row">Γύρος κοτόπουλο</th>
                <td>2,20€</td>
                <td>6,50€</td>
              </tr>
              <tr>
                <th scope="row">Σουβλάκι χοιρινό</th>
                <td>2,20€</td>
                <td>6,50€</td>
              </tr>
              <tr>
                <th scope="row">Σουβλάκι κοτόπουλο</th>
                <td>2,00€</td>
                <td>6,00€</td>
              </tr>
              <tr>
                <th scope="row">Μπιφτέκι</th>
                <td>2,40€</td>
                <td>6,80€</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style scoped></style>
