<template>
  <div class="bg-info slogan">
    <h2>
      Ο φίλος στην ανάγκη φαίνεται...<span style="color: darkblue"
        >Το μόνο γυράδικο 24/7!!!</span
      >
    </h2>
  </div>
</template>

<script>
export default {}
</script>

<style scoped></style>
