<template>
  <div class="alert alert-success mt-3" role="alert">
    <div class="row">
      <div class="col">
        <h4 class="alert-heading">Thank you!!!!</h4>
        <p>Ευχαριστούμε πολύ που επισκεφθήκατε το site μας!!</p>
      </div>
    </div>

    <hr />
    <p class="mb-0">Ελπίζουμε να τα πούμε σύντομα από κοντά!</p>
  </div>
</template>

<script>
export default {}
</script>

<style scoped></style>
