<template>
  <main>
    <!--   Put menu here-->
    <menu-popay />
    <!--    Put prices here-->
    <price-popay />
    <!--    Put thanks here-->
    <thanks-popay />
    <!--    PUT CONTACT HERE-->
    <contact-info />
    <!--    Put cookies here-->
    <cookies />
  </main>
</template>

<script>
export default {}
</script>
